#folders
__pycache__
*/__pycache__
event_local.json
event.json
event_post_processing.json
*.code-workspace

# test files
tests/mock/test_output/referential
tests/mock/*/simulations/*/in_preprocessing
tests/mock/*/simulations/*/intermediate
tests/mock/*/simulations/*/out
tests/**/*.DS_Store

# requirements.txt
requirements.txt

# vscode and mac files/folders
**/*.DS_Store
.vscode