include LICENSE
include main.py
include bin/*
include dateutil/*
include modules/*
include numpy/*
include numpy-1.24.2.dist-info/*
include numpy.libs/*
include pandas/*
include pandas.libs/*
include pandas-1.5.3.dist-info/*
include python/*
include python_dateutil-2.8.2.dist-info/*
include pytz/*
include six-1.16.0.dist-info/*



